[submodule "port/Flow_Meter"]
	path = port/Flow_Meter
	url = https://github.com/bassem-mostafa/DMA_Flow_Meter.git
[submodule "port/Stub"]
	path = port/Stub
	url = https://github.com/bassem-mostafa/DMA_Stub.git
[submodule "driver/STM32L496VGT6P"]
	path = driver/STM32L496VGT6P
	url = https://github.com/bassem-mostafa/DMA_STM32L496VGT6P.git
